<% content_for :additional_header_stylesheets do %>
    <style type="text/css">
      .bg-image {
        background-repeat: no-repeat;
        background-position: bottom center;
        background-attachment: scroll;
        background-size: cover;
      }
    </style>
<% end %>
<div class="bg-image"></div>